* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(2, 38, 116, 0.7), rgba(0, 0, 0, 0.9)), url(./images/cityscape.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header {
  background-color: rgb(2, 2, 56);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 250%;
  font-family: 'lato', sans-serif;
  font-weight: lighter;
  border-bottom: solid white 3px;
}

#main-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#image-container {
  background-image: url("./images/my-pic.jpg");
  height: 220px;
  width: 220px;
  background-position: center right;
  background-size: cover;
  border: white solid 3px;
  border-radius: 200px;
  margin-top: 30px;
}

#hi {
  font-family: "Poiret One";
  color: white;
  font-size: 40px;
}

#name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Poiret One";
  font-size: 40px;
  margin-top: 30px;
}

#name hr{
  width: 400px;
}

#name h2{
  font-size: 40px;
  margin-top: 20px;
}

#footer {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(2, 2, 56);
  margin-top: 30px;
  border-top: solid white 3px;
}

#footer nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-button {
  height: 70px;
  width: 140px;
  margin: 30px;
  background: transparent;
  font-family: "Lato";
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 50px;
}

.footer-button:hover {
  background: white;
  color: rgb(2, 2, 56);
}

.vertical-line {
  height: 70px;
  width: 0;
  border: 1.5px solid white;
}